# A Series
is like a 1D array + row labels (index)

# What is a DataFrame?
Think of it as an Excel table in code â€” rows + columns with labels.

In [2]:
# Create a Series of 4 fruits: ['apple', 'banana', 'mango', 'grape'] with indexes ['A', 'B', 'C', 'D']

import pandas as pd
s1=pd.Series(['apple', 'banana', 'mango', 'grape']) # here the index / row labels will be 0,1,2,3
s2=pd.Series(['apple', 'banana', 'mango', 'grape'],index=['A', 'B', 'C', 'D']) 
print(s1)
print(s2)

0     apple
1    banana
2     mango
3     grape
dtype: object
A     apple
B    banana
C     mango
D     grape
dtype: object

In [3]:
# create a dataframe from this below dictionary

dictionary={'Product': ['Pen', 'Notebook', 'Eraser'],
 'Price': [10, 20, 5],
 'Stock': [100, 50, 200]}

df=pd.DataFrame(dictionary)
df.head()

    Product  Price  Stock
0       Pen     10    100
1  Notebook     20     50
2    Eraser      5    200

Print:

First 2 rows using head()

Column names

Data types of each column

Shape of the DataFrame

In [8]:
print(df.head(2))
print(df.columns) # all the columns and  datatype as object as all cols are stored as python strings
print(df.dtypes) # Object for string type cols and int4 for numeric cols
print(df.shape)  # 3 Rows 3 Cols

    Product  Price  Stock
0       Pen     10    100
1  Notebook     20     50
Index(['Product', 'Price', 'Stock'], dtype='object')
Product    object
Price       int64
Stock       int64
dtype: object
(3, 3)

# Filtering Rows & Selecting Columns in Pandas

In [9]:
df = pd.DataFrame({
    'Product': ['Pen', 'Notebook', 'Eraser'],
    'Price': [10, 20, 5],
    'Stock': [100, 50, 200]
})

Write code to:

Print only the Price column

Print Product and Stock columns

Print the first row using .iloc

Filter rows where Price > 10

Filter rows where Price < 15 and Stock > 50

In [10]:
# Print only the Price column
df['Price']

0    10
1    20
2     5
Name: Price, dtype: int64

In [11]:
# Print Product and Stock columns
df[['Product','Stock']]

    Product  Stock
0       Pen    100
1  Notebook     50
2    Eraser    200

In [13]:
# Print the first row using .iloc
df.iloc[0]

Product    Pen
Price       10
Stock      100
Name: 0, dtype: object

In [14]:
# Filter rows where  Price > 10
df[df['Price']>10]

    Product  Price  Stock
1  Notebook     20     50

In [15]:
# Filter rows where Price < 15 and Stock > 50
df[(df['Price']<15) & (df['Stock']>50)]

  Product  Price  Stock
0     Pen     10    100
2  Eraser      5    200

# Groupby() and Aggregation

In [17]:
df=pd.DataFrame({ 'City': ['Pune', 'Mumbai', 'Pune', 'Delhi', 'Delhi', 'Mumbai'],
    'Sales': [100, 200, 150, 120, 130, 180],
    'Quantity': [2, 3, 1, 2, 1, 4]})

In [18]:
# Group by City and calculate total Sales
df.groupby('City')['Sales'].sum()

City
Delhi     250
Mumbai    380
Pune      250
Name: Sales, dtype: int64

In [20]:
# Group by City and calculate average Quantity
df.groupby('City')['Quantity'].mean()

City
Delhi     1.5
Mumbai    3.5
Pune      1.5
Name: Quantity, dtype: float64

In [21]:
# Group by City and get both:
df.groupby('City').agg({'Sales':'sum','Quantity':'mean'})

        Sales  Quantity
City
Delhi     250       1.5
Mumbai    380       3.5
Pune      250       1.5

In [22]:
# sum of Sales
df['Sales'].sum()

880

In [23]:
# max of Quantity
df['Quantity'].max()

4

In [24]:
# Which city had the highest total Sales?
df.groupby('City')['Sales'].sum()

City
Delhi     250
Mumbai    380
Pune      250
Name: Sales, dtype: int64

Mumbai has the highest total sales